<form action="/ponies" method="post">

  <label for="newPonyName">What is your pony's name?</label>
  <input id="newPonyName" name="newPonyName" type="text">

  <label for="newPonyType">What type is your pony?</label>
  <input id="newPonyType" name="newPonyType" type="text">

  <label for="newPonyCutieMark">What is their Cutie Mark?</label>
  <input id="newPonyCutieMark" name="newPonyCutieMark" type="text">

  <label for="newPonyProductType">What type of product?</label>
  <input id="newPonyProductType" name="newPonyProductType" type="text">

  <br><button type="submit">Save your pony</button>

</form>
