<h1>Welcome to the World of Ponies</h1>

<a href="/ponies/new">Create a new pony</a>

<ul>
@foreach (var pony in Model)
{
<li>Name: @pony.GetName()</li>
<li>Type: @pony.GetPonyType()</li>
<li>Cutie Mark: @pony.GetCutieMark()</li>
<li>Product Type: @pony.GetProductType()</li>
<br>
}
</ul>
