<form action="/magiccards" method="post">

  <label for="newCardName">Enter the name of the card</label>
  <input id="newCardName" name="newCardName" type="text">

  <label for="newCardColor">What is the card color?</label>
  <input id="newCardColor" name="newCardColor" type="text">

  <label for="newCardRarity">How rare is this card?</label>
  <input id="newCardRarity" name="newCardRarity" type="text">

  <label for="newCardType">What type is this card?</label>
  <input id="newCardType" name="newCardType" type="text">

  <label for="newCardSet">What set is this card from?</label>
  <input id="newCardSet" name="newCardSet" type="text">

  <br><button type="submit">Save your card</button>

</form>
