<h1>Add a new category</h1>

<form action="/category" method="post">

  <label for="newCategory">Enter the name of the category</label>
  <input id="newCategory" name="newCategory" type="text">

  <br><button type="submit">Save your category</button>
</form>


<p><a href="/">Back home</a></p>
<p><a href="/category">Back to categories.</a></p>
